<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VEIKKAUSPALVELU</title>
    <style>
        body{
            background-image: linear-gradient(to right, rgb(179, 209, 245), blue);           
        }      
    </style>
</head>
<header><h1>VEIKKAUSPALVELU</h1>
   <%- include ('./header')%>

</header>
<body><h4>Voit veikata seuraavissa kisoissa</h4>
    <%data1.forEach(peli =>{%><form action="/app/veikkaus" method='POST' >
        <button onclick="this.form.submit()" value="<%=peli.id%>" name="siirrybtn1"> <%= peli.nimi %></button> <p>Päättyy <%= peli.aika %></p></form>
        <%})%>

    <h4>Tarkastele tuloksia</h4>
    <%data.forEach(kisa =>{%><form action="/app/tulossivu" method='POST' >
        <button onclick="this.form.submit()" value="<%=kisa.kisaID%>" name="siirrybtn"> <%= kisa.kisan_nimi %></button></form>
        <%})%>

    <h4>Tarkastele veikkauksia</h4> 
    <form action="/app/veikkaukset" method='POST' >
        <button onclick="this.form.submit()" value="" name="siirrybtn"> button</button></form>
        
        
    
</body>
</html>