<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VEIKKAUSPALVELU</title>
    
</head>
<header><h1>VEIKKAUSPALVELU</h1>   <%- include ('./header')%></header>
<body>
   


    <form action="/lisaaottelu" method="POST">
        <h3>Syötä ottelu</h3>        
        <input  id="input" type="text" placeholder="joukkue-joukkue" name="ottelu" required>  <button id="lisaa" >Lisää</button></form>

    <table  >
        <tr> 
            <th>KisaID</th>            
            <th>OTTELUID</th>
             
             <th>OTTELU</th>
            </tr>
             <tr>
                <%data.forEach(ottelut =>{%>
                    <form action="/poistapeli" method='POST' >
                    <td><%=ottelut.kisaID%></td>
                <td ><%=ottelut.otteluID%></td>
                <td><%=ottelut.ottelu %> </td>
                
                <td><button onclick="this.form.submit()" value="<%=ottelut.otteluID%>" name="poistabtn">poista</button></form></td></tr>
                <%})%>
                </table>
</body>

</html>