<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table, th, td {
        border: 1px solid  black;
        text-align: center;
        text-transform: uppercase;
        }
        body{
            background-image: linear-gradient(to right, rgb(179, 209, 245), blue);           
        }
      
     
    </style>
</head>
<header><h1>VEIKKAUSPALVELU</h1>
   <%- include ('./header')%>

</header>
<body>
    <h2><%=nimi%></h2>
         <table  >
    <tr> 
        <th>PELAAJA</th>
        <%data.forEach(otsikko =>{  %>                 
         <th id="ottelu" ><%=otsikko.ottelu%></th> <%})%></tr> 
         <tr>
       
         <%data1.forEach(pelaaja =>{  %>   
            <td><a href="/app/naytaveikkaus/<%=nimi%>/<%=pelaaja.pelaajaID%>"><%=pelaaja.nimi%></a></td>                     
            <%for(let i=0;i < pelaaja.veikkaus.length;i++){%>
            <td><%=pelaaja.veikkaus[i]%></td><%}%> 
         
            


            
            
            </tr> <%})%> 
            <table  >
              
                          
                                 

    
</body>
</html>