<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lätkäveikkaus</title>
    
</head>
<header><h1>LÄTKÄVEIKKAUS</h1>   <%- include ('./header')%></header>
<body>
    
        <h3>LISÄÄ PELAAJAN TIEDOT</h3>
        <form action="/veikkaa" method='POST' >    
            <input  type="text" placeholder="Etunimi" name="etunimi" value=""><br> 
            <input  type="text" placeholder="Sukunimi"name="sukunimi" value=""> <br>             
         
    <table  >
        <tr> 
            <th>KisaID</th>            
            <th>OTTELUID</th>             
             <th>OTTELU</th>
             <th>1</th>
             <th>X</th>
             <th>2</th></tr>
             <%data.forEach(ottelut =>{
              
                i++
                %>
             <tr>
                                   
                <td><%=ottelut.kisaID%></td>
                <td ><%=ottelut.otteluID%></td>
                <td><%=ottelut.ottelu %></td>               
             <td><input type="radio"  name="valinta[<%=i%>]" value="<%=ottelut.kisaID%>,<%=ottelut.otteluID%>,1"></td>
                <td><input type="radio"  name="valinta[<%=i%>]" value="<%=ottelut.kisaID%>,<%=ottelut.otteluID%>,X"></td>
                <td><input type="radio"  name="valinta[<%=i%>]" value="<%=ottelut.kisaID%>,<%=ottelut.otteluID%>,2"></td>
                </tr><%})%></table>
                <button value="<%=i%>" name="tallennaBtn" >TALLENNA</button>
              </form>                            
                </body></html> 