<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lätkäveikkaus</title>
    
</head>
<header><h1>LÄTKÄVEIKKAUS</h1>   <%- include ('./header')%></header>
<body>
   


    <form action="/lisaaottelu" method="POST">
        <label for="kisat">Syötä veikkauksesi</label><br>        
        

    <table  >
        <tr> 
            <th>KisaID</th>            
            <th>OTTELUNUMERO</th>
             
             <th>OTTELU</th></tr>
             <tr>
                <%data.forEach(ottelut =>{%>
                    <form action="/veikkaa" method='POST' >
                    <td><%=ottelut.kisaID%></td>
                <td ><%=ottelut.otteluID%></td>
                <td><%=ottelut.ottelu %> </td>
                <td><input type="text" name="veikkaus"></td>
                <td><button onclick="this.form.submit()" value="<%=ottelut.otteluID%>" name="veikkaabtn">veikkaa</button></form></td></tr>
                <%})%>
                </table>
</body>

</html>